.mapboxgl-popup-content {
  padding: 12px !important;
  line-height: 1.2;
  letter-spacing: .2px;
  font-weight: 500;
  border-radius: 4px;
  min-width: 80px;
}

.station-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  margin-bottom: 6px;
}

.indicator {
  width: 6px;
  height: 6px;
  border-radius: 9999px;
  background-color: red;
  margin-left: 12px;
  opacity: 1;
  transition: opacity .2s;
}

.indicator.safe {
  background-color: green;
}

.indicator.warning {
  background-color: orange;
}

.indicator.is-loading {
  opacity: 0;
}

.divider {
  margin: 0 2px;
}

.mapboxgl-ctrl-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.mapboxgl-ctrl-icon svg {
  display: block;
}