.mapboxgl-popup-content {
  padding: 0 !important;
  line-height: 1.2;
  letter-spacing: .2px;
  font-weight: 500;
  border-radius: 4px;
  min-width: 80px;
}

.station-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 0 !important;
  font-weight: 400;
  margin-bottom: 6px;
}

.station-availity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 12px !important;
}

.station-availity svg {
  display: block;
  width: 18px;
  transform: rotate(0deg);
  transition: transform ease-in-out .2s;
}

.is-open .station-availity svg {
  transform: rotate(-180deg);
}

.station-more {
  height: 0;
  overflow: hidden;
  transition: height ease-in-out .2s;
}

.is-open .station-more {
  height: 80px;
  padding: 12px 12px !important;
  border-top: 1px solid #eee;
}

.indicator {
  width: 6px;
  height: 6px;
  border-radius: 9999px;
  background-color: red;
  margin-left: 12px;
  opacity: 1;
  transition: opacity .2s;
}

.indicator.safe {
  background-color: green;
}

.indicator.warning {
  background-color: orange;
}

.indicator.is-loading {
  opacity: 0;
}

.divider {
  margin: 0 2px;
}

.mapboxgl-ctrl-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.mapboxgl-ctrl-icon svg {
  display: block;
}