.mapboxgl-popup-content {
  padding: 0 !important;
  line-height: 1.2;
  letter-spacing: .2px;
  font-weight: 500;
  border: 1px solid #aaa;
  border-radius: 4px;
  min-width: 80px;
  box-shadow: none;
}

.mapboxgl-popup-tip {
  position: relative;
  border-top-color: #aaa !important;
  border-bottom-color: #aaa !important;
}

.mapboxgl-popup-tip:before {
  content: "";
  position: absolute;
  left: -10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  z-index: 1;
  align-self: center;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip:before {
  top: -12px;
  border-bottom: none;
  border-top-color: #ffffff;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip:before {
  top: 2px;
  border-top: none;
  border-bottom-color: #ffffff;
}

.station-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 0 !important;
  font-weight: 400;
  margin-bottom: 6px;
}

.station-availity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 12px !important;
}

.station-availity .more-info svg {
  display: block;
  width: 14px;
}

.station-availity .more-info {
  transform: translateX(0px);
  transition: transform ease-in-out .2s;
  cursor: pointer;
}

.station-availity .more-info:hover {
  transform: translateX(2px);
}

.indicator {
  width: 6px;
  height: 6px;
  border-radius: 9999px;
  background-color: red;
  margin-left: 12px;
  margin-right: 4px;
  opacity: 1;
  transition: opacity .2s;
}

.indicator.safe {
  background-color: green;
}

.indicator.warning {
  background-color: orange;
}

.indicator.is-loading {
  opacity: 0;
}

.divider {
  margin: 0 2px;
}

.mapboxgl-ctrl-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.mapboxgl-ctrl-icon svg {
  display: block;
}