.accordion {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    h3 {
      margin-bottom: 2px;
    }
    .disclaimer {
      color: #747474;
    }
    svg {
      display: block;
    }
  }
  &__body {
    height: 0;
    overflow: hidden;
    transition: height .2s ease-in-out;
  }
  &.is-open {
    .accordion__body {
      height: auto;
      padding: 8px 0;
    }
  }
}

.accordion-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 12px 4px;
  }
}