.mapboxgl-popup-content {
  padding: 0 !important;
  line-height: 1.2;
  letter-spacing: .2px;
  font-weight: 500;
  border: 1px solid #aaa;
  border-radius: 4px;
  min-width: 80px;
  box-shadow: none;
}

.mapboxgl-popup-tip {
  position: relative;
  border-top-color: #aaa !important;
  border-bottom-color: #aaa !important;
  &:before {
    content: "";
    position: absolute;
    left: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    z-index: 1;
    align-self: center;
  }
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip:before {
  top: -12px;
  border-bottom: none;
  border-top-color: #ffffff;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip:before {
  top: 2px;
  border-top: none;
  border-bottom-color: #ffffff;
}

.mapboxgl-ctrl-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.mapboxgl-ctrl-icon svg {
  display: block;
}