.station-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 0 !important;
  font-weight: 400;
  margin-bottom: 6px;
}

.station-availity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 8px !important;
  .more-info {
    transform: translateX(0px);
    transition: transform ease-in-out .2s;
    cursor: pointer;
    svg {
      display: block;
      width: 14px;
      height: 14px;
    }
    &:hover {
      transform: translateX(2px);
    }
  }
}

.indicator {
  width: 6px;
  height: 6px;
  border-radius: 9999px;
  background-color: red;
  margin-left: 12px;
  margin-right: 4px;
  opacity: 1;
  transition: opacity .2s;
  &.safe {
    background-color: green;
  }
  &.warning {
    background-color: orange;
  }
  &.is-loading {
    opacity: 0;
  }
}

.divider {
  margin: 0 2px;
}
